<!DOCTYPE html>
<html>

 <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
  <meta property="fb:app_id" content="509979635783509" /> 
  <meta property="og:type"   content="article" /> 
  <meta property="og:url"    content="http://bitponzi.org" /> 
  <meta property="og:title"  content="BitPonzi" /> 
  <meta property="og:description"  content="Make easy 110% return on Bitcoin with provably fair Bitcoin Ponzi Scheme" /> 
  <meta property="og:image"  content="http://www.fbnstatic.com/static/managed/img/fb2/news/bitcoin.jpg" /> 

<link rel="stylesheet" href="./magnific/dist/magnific-popup.css"> 
<link rel="stylesheet" href="../../style3.css"> 
<!-- jQuery 1.7.2+ or Zepto.js 1.0+ -->

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
<!-- Magnific Popup core JS file -->
<script src="../magnific/dist/jquery.magnific-popup.js"></script> 
<!-- Add jQuery library -->
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

<!-- Add mousewheel plugin (this is optional) -->
<script type="text/javascript" src="/fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>

<!-- Add fancyBox -->
<link rel="stylesheet" href="/fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
<script type="text/javascript" src="/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>

<!-- Optionally add helpers - button, thumbnail and/or media -->
<link rel="stylesheet" href="/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />
<script type="text/javascript" src="/fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
<script type="text/javascript" src="/fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>

<link rel="stylesheet" href="/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen" />
<script type="text/javascript" src="/fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>

<link rel="stylesheet" href="../../css/bootstrap.css">

<!-- Optional theme -->
<!--
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
-->
<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>


<script src="/socket.io/socket.io.js"></script>

<script>
$( document ).ready(function() {
//if ({{{populated}}}  == undefined)
alert('yolo');
//deposits = {{{populated}}};
//deposits = populated.deposits;
//alert(JSON.stringify(populated));
//alert(JSON.stringify(coin_info));
alert('ugh');

});

</script>

<script src="../global.js"></script>


<script>


//alert('hi');

</script>


</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" id="brandname"> BrandName</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!--
        <li class="active" style="margin-left: 30px"><a href="#">Link</a></li>
        -->
        <li><a href="#">Trading</a></li>
        <li><a href="#">Voting</a></li>
        <li><a href="#">Fees</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Support</a></li>
        
      </ul>

      <ul class="nav navbar-nav navbar-right">


          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>

      
          <ul class="dropdown-menu">
            <li><a href="#">Profile</a></li>
            <li><a href="balances">Balances</a></li>
            <li><a href="#">Deposits</a></li>
            <li><a href="#">Withdrawals</a></li>
            <li><a href="#">Orders</a></li>
            <li><a href="#">Trade History</a></li>
            <li><a href="#">Login History</a></li>
            <li><a href="#">Logout</a></li>
          </ul>
    
        </li>  


      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>




<div id="balances">

<ul class="nav nav-tabs" id="nav_tabs">
  <!--
  <li class="active"><a href="#">Profile</a></li>
  -->
  <li><a href="#">Profile</a></li>
  <li><a href="#">Balances</a></li>
  <li class="active"><a href="#" >Deposits</a></li>
  <li><a href="#">Withdrawals</a></li>
  <li><a href="#">Orders</a></li>
  <li><a href="#">Trade History</a></li>
  <li><a href="#">Login History</a></li>
</ul>

<div id="below_tab_wrapper">


</div>
</div>

<div id="user_info">
  

</div>

</body>
</html>
