<!DOCTYPE html>
<html>

 <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
  <meta property="fb:app_id" content="509979635783509" /> 
  <meta property="og:type"   content="article" /> 
  <meta property="og:url"    content="http://bitponzi.org" /> 
  <meta property="og:title"  content="BitPonzi" /> 
  <meta property="og:description"  content="Make easy 110% return on Bitcoin with provably fair Bitcoin Ponzi Scheme" /> 
  <meta property="og:image"  content="http://www.fbnstatic.com/static/managed/img/fb2/news/bitcoin.jpg" /> 

<link rel="stylesheet" href="./magnific/dist/magnific-popup.css"> 
<link rel="stylesheet" href="../../style3.css"> 
 
<!-- jQuery 1.7.2+ or Zepto.js 1.0+ -->

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
<!-- Magnific Popup core JS file -->
<script src="magnific/dist/jquery.magnific-popup.js"></script> 
<!-- Add jQuery library -->
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

<!-- Add mousewheel plugin (this is optional) -->
<script type="text/javascript" src="/fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>

<!-- Add fancyBox -->
<link rel="stylesheet" href="/fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
<script type="text/javascript" src="/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>

<!-- Optionally add helpers - button, thumbnail and/or media -->
<link rel="stylesheet" href="/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />
<script type="text/javascript" src="/fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
<script type="text/javascript" src="/fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>

<link rel="stylesheet" href="/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen" />
<script type="text/javascript" src="/fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>

<link rel="stylesheet" href="../../css/bootstrap.css">


<!-- Optional theme -->
<!--
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
-->
<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>


<script src="/socket.io/socket.io.js"></script>

<script>
$( document ).ready(function() {
csrf = {{{csrf}}};
last_time = {{{last_time}}};
low_price = {{{low_price}}};
high_price = {{{high_price}}};
pending_asks = {{{pending_asks}}};
pending_bids = {{{pending_bids}}};


coin_one_name = {{{coin_one_name}}};
coin_two_name = {{{coin_two_name}}};
coin_one_ticker = {{{coin_one_ticker}}};
coin_two_ticker = {{{coin_two_ticker}}};

coin_one_balance = {{{coin_one_balance}}};



/*
alert(last_time);
alert(JSON.stringify(pending_asks));
alert(JSON.stringify(pending_bids));
alert(JSON.stringify(coin_one_name));*/

//yolo = asdf;
//alert(csrf);
//alert(csrf);
//data = {{{data}}};
//alert(JSON.stringify(populated));
//data = {{{data}}};
//alert(JSON.stringify(data));


});

</script>

<script src="../../global.js"></script>


<script>


//alert('hi');

</script>


</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" id="brandname"> BrandName</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!--
        <li class="active" style="margin-left: 30px"><a href="#">Link</a></li>
        -->
        <li><a href="#">Trading</a></li>
        <li><a href="#">Voting</a></li>
        <li><a href="#">Fees</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Support</a></li>
        
      </ul>

      <ul class="nav navbar-nav navbar-right">


          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>

      
          <ul class="dropdown-menu">
            <li><a href="#">Profile</a></li>
            <li><a href="balances">Balances</a></li>
            <li><a href="#">Deposits</a></li>
            <li><a href="#">Withdrawals</a></li>
            <li><a href="#">Orders</a></li>
            <li><a href="#">Trade History</a></li>
            <li><a href="#">Login History</a></li>
            <li><a href="#">Logout</a></li>
          </ul>
    
        </li>  


      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div id="outter_content">




<div class="inner_content">

<div id="top_header">

<div id="left_header">
<div id="trade_pair_header">
DOGE/BTC
</div>
Dogecoin/Bitcoin
</div>

<div id="right_header">

<div class="stat">
<span class="title">LAST PRICE</span>
<br>
<strong>
<span id="span_last_price" class="">0.00000103</span>
</strong>

</div>


<div class="stat">
<span class="title">24 HR HIGH</span>
<br>
<strong>
<span id="span_24_high" class="">0.000000105</span>
</strong>

</div>


<div class="stat">
<span class="title">24 HR LOW</span>
<br>
<strong>
<span id="span_24_low" class="">0.000000105</span>
</strong>

</div>


<div class="stat unbordered">
<span class="title">24 HR VOLUME</span>
<br>
<strong>
<span id="span_24_low" class="">37.700 BTC</span>
</strong>

</div>




</div>



</div>

<div style="clear:right;"></div>
<div id="buy_sell">

<div id="col1">
<h3>Buy Doge </h3>
<div class="success box">Your BTC balance is <strong><a href="asdf" class="exchange_balance">0.00000000</a></strong>.</div>

<div class="box options">
            <span class="label_style">Amount:</span> <input type="number" id="bid_quantity" name="amount" value="0" class="required"> DOGE<br>
            <span class="label_style">Price Per DOGE:</span> <input type="number" id="bid_price" name="price" value="0" class="required"> BTC<br>
            <span class="label_style">Total:</span> <span class="total" id="buy_total">0.00000103</span> BTC<br>
            <span class="label_style">Trading Fee:</span> <span class="fee" id="buy_fee">0.00000000</span> BTC (0.15%)<br>
            <span class="label_style">Net Total:</span> <span class="netTotal" >0.00000103</span> BTC            <input type="hidden" name="buyNetTotal" id="buy_net_total" value="0.0" class="required">
</div>

<button type="button" class="btn btn-primary" id="buy_order">Submit Buy Order</button>

<h3>Sell Orders </h3>

<div class="scroll_table">
<table class="table" id="sell_table">
<tbody>
<tr>
              <th>PRICE (BTC)</th>
              <th>DOGE</th>
              <th>BTC</th>
            </tr>


<tr class="clickableOrder" id="sell-0-00000103" price="0.00000103"><td class="price" id="sellPrice-0-00000103">0.00000103</td><td class="amount" id="sellAmount-0-00000103">436399.22909878</td><td id="sellTotal-0-00000103">0.44949120</td></tr>

</tbody>
</table>

</div>


</div>
<div id="col2">
<h3>Sell Doge </h3>
<div class="fail box">Your DOGE balance is <strong><a href="asdf" class="exchange_balance">0.00000000</a></strong>.</div>


<div class="box options">
            <span class="label_style">Amount:</span> <input id="ask_quantity" type="number" name="amount" value="0.00" class="required"> DOGE<br>
            <span class="label_style">Price Per DOGE:</span> <input id="ask_price" type="number" name="price" value="0.00000102" class="required"> BTC<br>
            <span class="label_style">Total:</span> <span class="total" id="sa_total">0.00000102</span> BTC<br>
            <span class="label_style">Trading Fee:</span> <span class="fee" id="sell_fee">0.00000000</span> BTC (0.15%)<br>
            <span class="label_style">Net Total:</span> <span class="netTotal">0.00000102</span> BTC            <input type="hidden" name="sellNetTotal" id="sell_net_total" value="0.0" class="required">
          </div>

<button type="button" class="btn btn-primary" id="ask_submit">Submit Sell Order</button>

<h3>Buy Orders </h3>


<div class="scroll_table">
<table class="table" id="sell_table">
<tbody>
<tr>
              <th>PRICE (BTC)</th>
              <th>DOGE</th>
              <th>BTC</th>
            </tr>


<tr class="clickableOrder" id="sell-0-00000103" price="0.00000103"><td class="price" id="sellPrice-0-00000103">0.00000103</td><td class="amount" id="sellAmount-0-00000103">436399.22909878</td><td id="sellTotal-0-00000103">0.44949120</td></tr>

</tbody>
</table>

</div>


</div>

</div>


</div>


</div>


<div id="user_info"></div>

</body>
</html>
